<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddlottery.dao.DDcouponInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ddlottery.model.DDcouponInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="codenum" property="codenum" jdbcType="CHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="gettime" property="gettime" jdbcType="TIMESTAMP" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
    <result column="bname" property="bname" jdbcType="VARCHAR" />
    <result column="bmobile" property="bmobile" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="usetime" property="usetime" jdbcType="TIMESTAMP" />
    <result column="isuse" property="isuse" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, codenum, uid, uname, gettime, bid, bname, bmobile, money, starttime, endtime, 
    usetime, isuse
  </sql>
    <select id="selectByCodenum" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from dd_coupon_info
        where codenum =  #{codenum,jdbcType=CHAR},
    </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dd_coupon_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dd_coupon_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ddlottery.model.DDcouponInfo" >
    insert into dd_coupon_info (id, cid, codenum, 
      uid, uname, gettime, 
      bid, bname, bmobile, 
      money, starttime, endtime, 
      usetime, isuse)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{codenum,jdbcType=CHAR}, 
      #{uid,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{gettime,jdbcType=TIMESTAMP}, 
      #{bid,jdbcType=INTEGER}, #{bname,jdbcType=VARCHAR}, #{bmobile,jdbcType=VARCHAR}, 
      #{money,jdbcType=REAL}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{usetime,jdbcType=TIMESTAMP}, #{isuse,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ddlottery.model.DDcouponInfo" >
    insert into dd_coupon_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="codenum != null" >
        codenum,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="gettime != null" >
        gettime,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="bname != null" >
        bname,
      </if>
      <if test="bmobile != null" >
        bmobile,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="usetime != null" >
        usetime,
      </if>
      <if test="isuse != null" >
        isuse,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="codenum != null" >
        #{codenum,jdbcType=CHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="gettime != null" >
        #{gettime,jdbcType=TIMESTAMP},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bname != null" >
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bmobile != null" >
        #{bmobile,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usetime != null" >
        #{usetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isuse != null" >
        #{isuse,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddlottery.model.DDcouponInfo" >
    update dd_coupon_info
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="codenum != null" >
        codenum = #{codenum,jdbcType=CHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="gettime != null" >
        gettime = #{gettime,jdbcType=TIMESTAMP},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="bname != null" >
        bname = #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bmobile != null" >
        bmobile = #{bmobile,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usetime != null" >
        usetime = #{usetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isuse != null" >
        isuse = #{isuse,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddlottery.model.DDcouponInfo" >
    update dd_coupon_info
    set cid = #{cid,jdbcType=INTEGER},
      codenum = #{codenum,jdbcType=CHAR},
      uid = #{uid,jdbcType=INTEGER},
      uname = #{uname,jdbcType=VARCHAR},
      gettime = #{gettime,jdbcType=TIMESTAMP},
      bid = #{bid,jdbcType=INTEGER},
      bname = #{bname,jdbcType=VARCHAR},
      bmobile = #{bmobile,jdbcType=VARCHAR},
      money = #{money,jdbcType=REAL},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      usetime = #{usetime,jdbcType=TIMESTAMP},
      isuse = #{isuse,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>